.top-nav {
  display: flex;
  background-color: #367BAA;
  color: white;
  justify-content: space-between;

  position: fixed;
  z-index: 1000;
}

.header {
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  button {
  color: inherit;
  font-size: inherit;
  border-radius: 0;
  }
}

