.top-nav {
  display: flex;
  background-color: #367BAA;
  color: white;
  justify-content: space-between;
}

.header {
  flex: 1;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-left: 10px;

  button {
  color: inherit;
  font-size: inherit;
  border-radius: 0;
  }

}

.header.title{
    flex:2;
}
