.drawer-container{
    background-color: transparent;
    width: 100%;
    height: 100%;

    .drawer{
        display: flex;
        height: 100%;
        flex-direction: column;
        background-color: #367BAA;
        border-radius: 0;

      &__item{
        height: 100px;
        width: 100%;
        display: block;
        text-align: center;
        padding: 15px 20px;
        color: white;
        cursor: pointer;
        border-radius: 0;
      }

      &__item:hover{
        background-color: #2E6390;
      }

    }
}

