<mat-drawer-container class="drawer-container" hasBackdrop="true"> 
  <mat-drawer class="drawer" mode="side" #drawer>
    <div class="drawer__item">
      <mat-icon class="icon">call</mat-icon>
      <button mat-button>Services</button>
    </div>

    <div class="drawer__item">
      <mat-icon class="icon">info</mat-icon>
      <button mat-button>About Us</button>
    </div>

    <div class="drawer__item">
      <mat-icon class="icon">info</mat-icon>
      <button mat-button>Contact Us</button>
    </div>
  </mat-drawer>

  <app-top-nav [drawer]="drawer"></app-top-nav>

  <div class="main-content">
    <div class="first">
       <div class="first__item">
      </div>
      <div class="first__item">
        <img src="./assets/1.png" alt="Sample Image">
      </div>
       <div class="first__item">
      </div>
    </div>

    <div class="second">
      <div class="second__item">
        <ngx-slick-carousel [config]="slideConfig">
          <div ngxSlickItem *ngFor="let img of images" class="slide">
            <img [src]="img" alt="Gallery Image">
          </div>
        </ngx-slick-carousel>
      </div>

        <div class="second__item">
            <ngx-slick-carousel [config]="slideConfig">
              <div ngxSlickItem *ngFor="let img of images" class="slide">
                <img [src]="img" alt="Gallery Image">
              </div>
          </ngx-slick-carousel>
      </div>

       <div class="second__item">
            <ngx-slick-carousel [config]="slideConfig">
              <div ngxSlickItem *ngFor="let img of images" class="slide">
                <img [src]="img" alt="Gallery Image">
              </div>
          </ngx-slick-carousel>
      </div>
    

    <!-- <div class="second__item" >
        <mat-card id="fb-card" (click)="openLink('https://www.facebook.com/profile.php?id=61557282549419')">
          <mat-card-header>
            <mat-card-title>Our Latest Facebook Update</mat-card-title>
          </mat-card-header>
<img mat-card-image src="assets/fb-logo.png" alt="Facebook Post">

          <mat-card-content>
            <p>Click to view our latest post on Facebook!</p>
          </mat-card-content>
          </mat-card>
      </div>

          <div class="second__item" >
        <mat-card class="fb-card" (click)="openLink('https://www.facebook.com/profile.php?id=61557282549419')">
          <mat-card-header>
            <mat-card-title>Our Latest Facebook Update</mat-card-title>
          </mat-card-header>
<img mat-card-image src="assets/fb-logo.png" alt="Facebook Post">

          <mat-card-content>
            <p>Click to view our latest post on Facebook!</p>
          </mat-card-content>
          </mat-card>
      </div>
       -->


    </div>
  </div>

</mat-drawer-container>
