.drawer-container{
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);

    .drawer{
        background-color: #5C4033;
    }
}


.main-content {
  padding: 20px;
}

